<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-startappads" version="0.0.1">
   <name>StartAppAds</name>
   <js-module name="StartAppAds" src="www/StartAppAds.js">
      <clobbers target="StartAppAds" />
   </js-module>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="StartAppAds">
            <param name="android-package" value="cordova.plugin.startappads.StartAppAds" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/StartAppAds.java" target-dir="src/cordova/plugin/startappads/StartAppAds" />
      <framework src="com.startapp:inapp-sdk:3.10.0"/>
   </platform>
</plugin>
